{% extends "main.html" %}
{% block title %}
    Game
{% endblock %}
{% block content %}
<div class="game-header">
    <div class="header-splitter">
        <span>Versuche: </span>
    </div>
    <div class="header-splitter">
        <span>{{status}}</span>
    </div>
</div>
<div class="input-group mb-3">
    <form method="POST" class="form-full">
        <input type="text" 
               class="form-control" 
               aria-describedby="button-addon2"
               id="guessInput"
               name="guess">
        <button class="btn btn-outline-secondary form-button" type="submit">Tipp abgeben</button>
    </form>  
</div>
{% endblock %}