{% extends "main.html" %}
{% block title %}
    Game
{% endblock %}
{% block content %}
<div class="game-header">
    <div class="header-splitter">
        {% if counter %}
        <span aria-label="Versuche">Versuche: {{counter}}</span>
        {% else %}
        <span aria-label="Versuche">Versuche: 0</span>
        {% endif %}
    </div>
    <div class="header-splitter">
        <span  aria-label="Tipp">{{status}}</span>
    </div>
</div>
<div class="input-group mb-3">
    <div class="points-container">
        {% if points %}
        <span  aria-label="Punkte">Punkte: {{points}}</span>
        {% else %}
        <span  aria-label="Punkte">Punkte: 100</span>
        {% endif %}
    </div>
    <form method="POST" class="form-full">
        <input type="number" 
               class="form-control" 
               aria-describedby="button-addon2"
               id="guessInput"
               name="guess"
               autocomplete="off"
               min="0"
               aria-label="Tippeingabe"
               required>
        <button class="btn btn-outline-secondary form-button" type="submit"  aria-label="Tipp abschicken">Tipp abgeben</button>
    </form>
</div>
{% endblock %}